# Python cache
__pycache__/
*.pyc
*.bak

# Local databases
*.db
feeds_db.sqlite

# Secrets and environment config
.env
*.pem

# Virtual environments
venv/

# ZAP binary & extracted
ZAP_2.15.0/
ZAP_2.15.0_Linux.tar.gz

# Temporary folders
DELETE/
SELECT/

# System files
.DS_Store

